footer.card-panel {
  background-color: #303030;
  color: #dddddd;
  margin-top: 0px;
}

.login-register-card {
  background-color: #37474f;
  color: #EEEEEE;
  margin-top: 0;
  margin-bottom: 0;
}

.footer {
  position: relative;
}

.footer-links {
  position: absolute;
  z-index: 2;
  top: 4px;
  left: 8px;
}

.footer-links a {
  color: #bbbbbb;
}

.footer-links a:hover {
  color: #00bfa5;
}

.footer-img {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 0;
  left: 0;
}
