@media screen and (max-width: 1100px) {
    .hide-on-med {
        display: none !important;
    }
}

@media screen and (max-width: 500px) {
    .hide-on-small {
        display: none !important;
    }
}

body {
  background-color: #eeeeee;
  background-image: url("/img/pattern_creampaper.png");
}

nav {
  background-color: #303030;
}

nav ul a {
  color: #dddddd;
}

.extra-card {
  background-color: #eeeeee;
}

.component-card {
  margin-top: 0px;
  margin-bottom: 0px;
  min-height: 200px;
  border-radius: 0;
}

.bold {
  font-weight: bold;
}

.small-button {
  font-size: 12px;
  height: 20px;
  line-height: 13px;
  padding-left: 4px;
  padding-right: 4px;
  width: 80px;
}

.bo-list-title {
  position: relative;
  margin-bottom: 0;
}

.bo-table tbody tr td {
  padding: 4px;
}

.item-panel {
  background-color: #EEEEEE;
}

.item-row {
  margin: 4px;
}

.bo-link {
  word-wrap: break-word;
}

h1 {
  font-size: 2.4rem;
  line-height: 110%;
  margin: 1.2rem 0 0.96rem 0; }

h2 {
  font-size: 2.2rem;
  line-height: 110%;
  margin: 1.1rem 0 0.88rem 0; }

h3 {
  font-size: 2.0rem;
  line-height: 110%;
  margin: 1.0rem 0 0.8rem 0; }

h4 {
  font-size: 1.8rem;
  line-height: 110%;
  margin: 0.9rem 0 0.72rem 0; }

h5 {
  font-size: 1.64rem;
  line-height: 110%;
  margin: 0.82rem 0 0.656rem 0; }

h6 {
  font-size: 1rem;
  line-height: 110%;
  margin: 0.5rem 0 0.4rem 0; }
