#tr-actual{
  background-color: #4caf50;
}

.z-modify {
  z-index: 1;
}

.steps {
  display: inline-block;
  text-align: center;
}

.actual-command {
  font-size: 20pt;
}

.table-remove {
  width: 20px;
}

.table-time {
  width: 60px;
}

.table-supply {
  width: 80px;
}

.form-card {
  padding-bottom: 20px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.player-card {
  margin-top: 0px;
  margin-bottom: 0px;
}

.table-card {
  margin-top: 0px;
  margin-bottom: 0px;
}
.timer-text {
  display: inline-block;
}

.player-button {
  margin: 10px;
}

.move-up {
}

.move-down {
}
