body {
  background-color: #303030;
  /* Background pattern from subtlepatterns.com */
  background-image: url("/img/pattern_diagmonds.png");
  color: #dddddd;
}

select {
  background-color: #363636;
  color: #dddddd;
  border-color: #424242
}

select:active {
}

.modal {
  background-color: #303030;
}

.modal .modal-footer {
  background-color: #303030;
}

.component-card {
  background-color: #424242 !important;
}

.listed-bo-row {
  background-color: #303030;
}

.downvoted {
  color: #5c6bc0;
}

.card-panel {
  background-color: #303030;
  border-color: red;
}

.listed-bo-toolbar a {
  color: #bbbbbb;
}

.listed-bo-author {
  color: #bbbbbb;
}

.listed-report {
  background-color: #303030;
}

table.hoverable > tbody > tr:hover {
  background-color: #343434;
}

.active-edit {
  background-color: #343434;
}
